* {
  margin: 3px;
}

body {
  background-color: bisque;
}

main {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-left: 50px;
  margin-right: 50px;
}

@media (min-width: 600px) {
  header nav ul {
    display: flex;
    flex-flow: wrap;
    gap: 60px;
    list-style: none;
    padding: 0;
    overflow-x: auto;
    color: white;
  }
}

header {
  display: flex;
  font-size: 1.5vw;
  gap: 20px;
  list-style: none;
  padding: 1rem 1rem;
  justify-content: center;
  top: 0;
  font-size: 2rem;
  font-family: Arial;
  position: sticky;
  opacity: 50%;
  box-shadow: 0 12px 30px 0 black;
  background-color: rgb(127, 127, 133);
}

.menu a:visited {
  color: rgb(7, 7, 43);
}

h1 {
  color: rgb(13, 13, 53);
  font-family: "arial";
  margin-top: 25px;
  margin-left: 6px;
}
h2 {
  color: rgb(13, 13, 53);
  font-family: "arial";
  margin-top: 5%;
  margin-left: 6;
}

h3 {
  color: black;
}
h4 {
  text-align: center;
  color: rgb(13, 13, 53);
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  text-align: center;
  color: rgb(13, 13, 53);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.content2 {
  color: black;
  position: absolute;
  top: 20%;
  left: 4%;
  column-count: 1;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  margin-bottom: 200px;
}

.gallery img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 600px) {
  #article_section {
    width: 228%;

    height: 180vh;
  }
}

@media (min-width: 600px) {
  #gallery_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
  }
  #gallery_section .col {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}

section {
  display: grid;
  grid-column: 2;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

img {
  max-width: 100%;
}

.image1 {
  grid-column: 1;
  top: 100px;
}

#section1 {
  grid-column: 1;
}

/* #text1 {
  display: grid;

  padding-left: 20%;
}

#text2 {
  display: grid;

  padding-left: 4px;
  padding-bottom: 20px;
}

#text3 {
  display: grid;

  margin-left: 30px;
  top: 200px;
  padding-left: 4px;
  padding-bottom: 20px;
} */

Video {
  width: 100%;
}

footer {
  display: grid;
  justify-content: start;
  padding-left: 20px;
  padding-bottom: 20px;
}

#hr {
  margin-bottom: 1%;
  margin-top: 1%;
}
#hr1 {
  margin-top: 3%;
}
